@font-face {
    font-family: 'Proxima Nova';
    src: url('proximanova-thin-webfont.eot');
    src: url('proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('proximanova-thin-webfont.woff') format('woff'),
         url('proximanova-thin-webfont.ttf') format('truetype'),
         url('proximanova-thin-webfont.svg#proxima_novathin') format('svg');
    font-weight: 100;
    font-style: normal;
}